* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(165,94,234);
    background: linear-gradient(90deg, rgba(165,94,234,1) 0%, rgba(224,210,209,1) 50%, rgba(119,140,163,1) 100%);
    min-height: 100vh;
    color: #f86909;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    font-size: 2.5rem;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

main {
    height: 80vh;
    width: 160vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#blogList {
    height: 100%;
    width: 25%;
}

footer {
    width: 100%;
    height: 10vh;
    background-color: #b2bec3;
    border: 2px solid gray;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(0, 0, 0);
    visibility: visible;
}

footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

footer a:hover {
    color: #f86909;
    transition: 300ms;
}

#blogListContainer {
    height: 88%;
    background-color: #a29bfe;
    border-top: 3px solid orangered;
    border-right: 3px solid orangered;
    border-left: 3px solid orangered;
}

.moreBlog {
    height: 3%;
    background-color: #9189ff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.moreBlog:hover {
    background-color: #7a70ff;
    transition: 300ms;
}

#addBtn {
    height: 6%;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#blogListContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
}

.titleContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.blogs {
    padding: 1rem;
    width: 95%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid orangered;
    border-radius: 4px;
    cursor: pointer;
}

.blogs:hover {
    /* opacity: 0.5; */
    background-color: rgba(139, 102, 175, 0.5);
    transition: 300ms;
} 

.blogs:active {
    background-color: rebeccapurple;
}

.blogs img {
    width: 60%;
}

#currentBlog {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    padding: 2rem;
}

#title {
    font-size: 2.5rem;
    color: orangered;
}

#desc {
    font-size: 1.5rem;
    color: orangered;
}

.blogs img, .titleContainer {
    pointer-events: none;
}

.hiddenDesc {
    display: none;
}

#img img {
    width: 60vh;
}

#addBtnA {
    text-decoration: none;
    color: black;
}

#addBtnA:hover {
    color: #f86909;
    transition: 300ms;
}